<% title "Rails Photo - Kategorie" %>

<% content_for :head do %>
<% end %>

<section id="content">
<section id="left_k">
<h1>Kategorie zdjęć</h1>
    <ul>
 <% for kategoria in @kategorie %>
      <% if kategoria.zdjecia.exists? %>
      <li>
        <% link_to kategoria do %>
          <%= image_tag kategoria.zdjecia.find(:first).photo.url(:smaller), :class => :smaller %>
          <% end %>
          <span class="info"><%= h kategoria.nazwa %></span>
        </li>
      <% end %>
    <% end %>
</ul>
</section>

<article id="kat"> 
<h1>Zdjęcia z kategorii <%= @wybrana.nazwa %></h1>
<ul> 
      <% for zdjecie in @wybrana.zdjecia.all %>
  <li>
          <% link_to zdjecie do %>
            <%= image_tag zdjecie.photo.url(:medium), :class => :medium %>
      <% end %>
  </li>
        <% end %>
</ul> 
</article> 
</section>

