ul {
    list-style-type: none;
}
.zdjecie {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
}
.zdjecie img {
    padding: 3px;
    border: 1px solid black;
}
.opis {
    font-family: arial;
    font-size: 10px;
}
p {
    clear: both;
}
