<% title "Rails Photo - Autorzy" %>
<section id="content">
<section id="autorzy">
<h1> Autorzy Projektu </h1>
<ol>
  <li> Sławomir Bogutyn </li>
  <li> Tomasz Jarząbek </li>
  <li> Mariusz Wszelak </li>
  <li> Wiesław Skierka </li>
  <li>Izabela Baranowska </li>
</ol>
</section>
</section>
