<% title "Edycja Zdjęcia" %>

<section id="content">
  <%= render :partial => 'form' %>

  <p>
  <%= link_to "Pokaż to zdjęcie", @zdjecie %>
  <%= link_to "Pokaż wszystkie zdjęcia", zdjecia_path %>
  </p>
  </section>
