<% title "Edycja Zdjęcia" %>

<div id="site_content">
  <%= render :partial => 'form' %>

  <p>
  <%= link_to "Pokaż to zdjęcie", @zdjecie %>
  <%= link_to "Pokaż wszystkie zdjęcia", zdjecia_path %>
  </p>
</div>
