<% title "Zdjęcia" %>

<section id="content">
<article id="zdjecia">
<ul>
<% for zdjecie in @zdjecia %>
<li>
        <% if zdjecie.photo.exists? %>
            <a href="<%= zdjecie_path zdjecie.id %>"><%= image_tag zdjecie.photo.url(:small) %></a>
        <% else %>
            <p>[brak zdjęcia]</p>
        <% end %>
        <span class="info"><%=h zdjecie.opis %></span>
</li>
<% end %>
</ul>
</article>
</section>
